
<!DOCTYPE html>
<html>
<br lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .label {
        width:180px;
        color:red;
        float:left
        }

    </style>
</head>
<body>
<p style="color:blue;">{{hive.peer_message}}</p>
<br/>
{% for p in hive.properties %}
<span class="label">{{p.0}}</span> = <input id="in_{{p.0}}" value="{{p.1}}"/>
<input  type="button" value="save" onclick='doit("{{p.0}}","{{p.2}}")'><br/>
{% endfor %}
<br/>
<span>Send message to peer:</span>
<select id="peer_select">
{% for p in hive.peers %}
    <option>{{ p }}</option>
{% endfor %}
</select>
<br/>
{% load static %}

Message: <input id="peer_message" type="text" style="width:300px;"/>
<input type="button" value="Send" id="send_message_btn" onclick="sendMessage()"/>
<!--<script src="{% static '/js/websocket-client.js' %}"></script>-->
<script type="module" src="{% static '/js/scripts.js' %}"></script>

</body>
</html>